<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <div id='App'>
            
        </div>
        <script>
            new Vue({
                el:'#App', //element
                data:{
                    msg:'호랭이',
                },
                template:'<h1>{{msg}}</h1>', //디자인쪽
            })
        </script>
    </body>
</html> -->

<!-- 
<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body>
        <div id='App'>
            <button v-on:click='num++'>{{num}}</button>
        </div>
        <script>
            new Vue({
                el:'#App', //element
                data:{
                    num:0,
                },
            })
        </script>
    </body>
</html> -->

<!-- 

<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body>
        <div id='App'>
            v-on : 우리말로는 지시어 영어로는 디렉티브 
            <button v-on:click=f1()>{{num}}</button>
            <button v-on:click=f2()>{{num}}</button>
            <button>{{f3()}}</button>
        </div>
        <script>
            new Vue({
                el:'#App', //element
                data:{
                    num:0,
                },
                methods:{
                    f1:function(){ console.log(1); },
                    f2:()=>{ console.log(2); },
                    f3:()=>{ return '고양이' },
                },
            })
        </script>
    </body>
</html> -->

<!-- 
<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <div id="App1">
        <h1 v-if='flag2'>dd</h1>
            <h1>tt</h1> 

         <ul>
                <li v-for='xxx in items'>{{xxx}}</li>
            </ul> 
        <h1>ㅎㅎ</h1>
        <tiger></tiger>
        <lion></lion>
    </div>
     <div id='App2'>

        </div> 
    <script>
        new Vue({
            el: "#App1", //el: 예약된 키워드
            // data:{
            //     // flag1:false,
            //     // flag2:true,
            //     items:['호랭이','사자','독수리']
            // },
            // methods:{

            // },
            components: {
                tiger: {
                    template: '<h1>tiger컴포넌트</h1>'
                },       //tiger:컴포넌트이름
                lion: {
                    template: '<h1>lion컴포넌트</h1>'
                },
            },
        })
            //Vue 인스턴스를 1개이상 생성해서 사용할 수 있다.
            // new Vue({
            //     el:"#App2",
            // })
    </script>
</body>

</html> -->

<!-- 
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>    
</head>
<body>
<div id="App1">
    <h1>코끼리</h1>
    <tiger></tiger>
    <lion></lion>
</div>
    <script>
        new Vue({
            el: '#App1',
            components: {//Vue 인스턴스 안에서 정의를 하고 있기 때문에 이것은 내부 컴포넌트라고 한다. 지역컴포넌트
                tiger: {
                    template: '<h1>호랑이</h1>',
                },
                lion: {
                    template: ` // `:키보드에서 숫자 1 왼쪽
                    <div>
                    <h1>독수리</h1>
                    <h1>사자</h1>
                    </div>`,
                },
            },
        })
    </script>
</body>
</html> -->

<!-- 
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="App1">
        <tiger></tiger>
        <lion></lion>
    </div>
    <script>
        //전역컴포넌트는 코드의 순서에 영향을 받는다.
        //첫번째 인수는 컴포넌트 name
        Vue.component('tiger',{
            template:'<h1>타이거</h1>',
        })
        Vue.component('lion',{
            template:'<h1>라이언</h1>',
        })
        new Vue({
            el: '#App1',

        })
    </script>
</body>

</html> -->

<!-- 

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="App1">
        <outter></outter>
        <tiger></tiger>

    </div>
    <div id="App2">
        <outter></outter>
        
    </div>
    <script>
        //전역컴포넌트는 코드의 순서에 영향을 받는다.
        //첫번째 인수는 컴포넌트 name
        Vue.component('outter', {
            template: '<h1>타이거</h1>',
        })

        new Vue({
            el: '#App1',
            componets: {
                tiger: {
                    template: '<h1>호랑이</h1>',
                },
            },
        });
        new Vue({
            el: '#App2',
        })
    </script>
</body>

</html> -->

<!-- 


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <title></title>
    </head>
    <body>
        <div id="App1">
            <h1>tiger</h1>
            <tiger></tiger>
            <lion></lion>
        </div>
        <div id="App2">
            <h1>tiger</h1>
            <tiger></tiger>
            <lion></lion> 사용불가
        </div>
        <script>
            Vue.component('tiger', {
                template : '<h1>호랑이</h1>'
            });
            new Vue({ 
                el : '#App1',
                components : {
                    lion : {
                        template : '<h1>사자</h1>'
                    },
                },
            });
            new Vue({
                el : '#App2',
            });
        </script>
    </body>
</html> -->

<!-- 
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>    
</head>
<body>
<div id="App1">
    <h1>코끼리</h1>
    <tiger></tiger>    
</div>
    <script>
       Vue.component(
           'tiger', {
            template: `<h1>호랑이</h1>`,
            data:function(){ //Vue의 문법 data 설정할때는 function으로 정의한다.(전역컴포넌트일때?)
                return {
                    num:10
                }
            },
            methods:{
                f1: function(){
                    console.log('f1');
                    this.num++
                    //람다로 만들면 안됀다.
                },
            },     
            template:'<button @click=f1>{{num}}</button>',        //v-on: 이거랑 @이랑 치환됌
        })
        new Vue({
            el: '#App1',          
        })       
    </script>
</body>
</html> -->

<!-- 
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>    
</head>
<body>
<div id="App1">
    <input v-model=msg>
    <h1>{{msg}}</h1>
</div>
    <script>
      
        new Vue({
            el: '#App1',          
            data: {
                msg:'냉면먹고싶다'
            },
        })       
    </script>
</body>
</html> -->

<!-- 

<!DOCTYPE html><html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="App">
        <tiger></tiger>
        <lion></lion>
    </div>
    <script>
        Vue.component('tiger', {
            data: function () {
                return {
                    num: 0
                }
            },
            methods: {
                f1: function () {
                    // console.log(1)
                    this.num++
                },

                //람다를 쓰면 안됀다.
                // f1:()=>{
                //     this.num++
                // }
            },
            template: '<button @click=f1>{{num}}</button>',

        })

    new Vue({
        el: '#App',
        components: {
            lion: {
                template: '<button @click=f1>{{num}}</button>',
                methods: {
                    f1: function () {
                        // console.log(1)
                        this.num++
                    },

                    //람다를 쓰면 안됀다.
                    // f1:()=>{
                    //     this.num++
                    // }
                },
                data: function () {
                        return {
                            num: 0
                        }
                    },

            }
        },

    })
    </script>
</body>
    
</html> -->

<!-- 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="App">
        <tiger :dname=sname :dage=sage></tiger> 
    </div>
    <script>
        
        Vue.component("tiger",{
            template:'<div><h1>{{dname}},{{dage}}</h1><button v-on:click=f1>버튼</button></div>',
            // props:{
            //     name:String,
            //     age:Number,
            // },
            props: ['dname', 'dage'],
            methods: {
                f1: function(){
                    console.log(typeof(this.dage));                    
                }
            }            
        });
        new Vue( {
            el: '#App',
            data:{
                sname:'eee',
                sage: 30,   //s -> source

            },
        });
    </script>
  </body>

</html>

v-bind쓰면 typeof썼을때 숫자가 문자열에서 숫자로 나온다.
v-bind: :으로 치환 할 수있다.
 -->

<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="App">
        <tiger v-bind:name=name v-bind:age=age></tiger> //v-bind 
    </div>
    <script>
        Vue.component("tiger",{
            template:'<div><h1>{{name}},{{age}}</h1><button v-on:click=f1>버튼</button></div>',
            // props:{
            //     name:String,
            //     age:Number,
            // },
            props: ['name', 'age'],
            methods: {
                f1: function(){
                    console.log(typeof(this.age));                    
                }
            }            
        });
        new Vue( {
            el: '#App',
            data:{
                name:'eee',
                age: 30,   //s -> source

            },
        });
    </script>
  </body>

</html> -->

<!-- 

왜안돼 ㅠㅠ
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="App">
        <h1>{{f1()}}</h1>
        <h1>{{count1}}</h1>
        <button v-on:click='count1++'>button</button>
        <h1>{{f2}}</h1>
        <h1>{{count2}}</h1>
        <button v-on:click='count2++'>button</button>
        
    </div>
    <script>
       
        new Vue( {
            el: '#App',
            data:{
                count1:0,
                count2:0,
            
            },
            methods: {
                f1 : ()=>{
                    console.log(this.count1);
                
                },
                
            },
            computed: { //computed 안에있는 함수는 호출할때 f2() 라고 안한다 f2만 써도 된다.
                f2 : ()=>{
                    console.log(this.count1);
                    
                }
            },
           
        });
    </script>
  </body>

</html> -->

<!-- 

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
<div id="App">        
    <button v-on:click="count1++">Count</button>
    <h1>{{f1()}}</h1>
    <h1>{{count1}}</h1>
    <button v-on:click="count2++">Count</button>
    <h1>{{f2}}</h1>
    <h1>{{count2}}</h1>
</div>
    <script>
        new Vue({
            el: "#App",
            data: {
                count1: 0,
                count2: 0,
            },
            methods:{
                f1: function(){
                    console.log(this.count1);
                },
            },
            computed:{
                f2: function(){
                    console.log(this.count1)
                },
            },
        })
    </script>
    </body>
    </html> -->

<!-- 
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="App">
        <com1 v-on:showmethemoney='f2'></com1> 
    </div>
    <script>
        //내가 만든 이벤트 showmethmoney가 발생하면 f2함수를 콜해라..
        new Vue({
            el: "#App",
            components: {
                com1: {
                    template: `<button v-on:click='f1'>button</button>`,
                    methods: {
                        f1:function(){
                            console.log('f1 call');
                            this.$emit('showmethemoney'); //강제로 이벤트호출
                        }
                    },
                }

            },

            methods: {
                f2: function () {
                    console.log('f2 call');
                },
            },

        })
    </script>
</body>

</html> -->

<!-- 


<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="App">
        <Bpp></Bpp>
    </div>
  

    <script>
       
        Vue.component('Bpp',{
            template: `<div>
                       <button>Bpp</button>
                       <Cpp></Cpp>
                       <Dpp></Dpp>
                       </div>`

        })
        Vue.component('Cpp',{
            template: ` <div>
                        <button>Cpp</button>
                        </div>`

        })
        Vue.component('Dpp',{
            template: ` <div>
                        <button>Dpp</button>
                        </div>`

        })
        new Vue({
            el: "#App",
            
        })

    </script>
</body>

</html>  -->

<!-- 왜 안돼 ㅇ나ㅣㅓ리ㅏㄴㅇ멀;

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="App">
        <com1></com1>
        <com2></com2>

    </div>


    <script>


        //step 1 : 이벤트 객체 생성
        //step 2 : created 로그 출력 확인

        let eventBus = new Vue();

        Vue.component('com1', {
            template: `<button @click=f1>button1</button>`,
            methods: {
                f1:function(){
                    eventBus.$emit('eb')
                    
                }
            },

        })
        Vue.component('com2', {
            template: `<button>button2</button>`,
            created: function () {
                console.log(1);
                eventBus.$on('eb',100, (value)=>{ console.log(value) }) //이벤트를 예약하는거
            }
        })

        new Vue({
            el: "#App",


        })



    </script>
</body>

</html> -->

<!-- 

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title >Document</title>
</head>
<body>
    <div id= 'App1'>
        <Com1></Com1>
        <Com2></Com2>
    </div>
    <script>      
       Vue.component('Com1', {
            template: `<div>
                       <button @click=f1>{{this.num}}</button>
                       </div>`,
            methods: {
                f1: function () {
                    console.log('f1 call');
                    eventBus.$emit('eb',this.num)
                }
            },
            data: function(){
                return {
                    num:100,
                }
            },
        })


        //step 2 : log 출력하기
        Vue.component('Com2', {
            template: `<div>
                       <button>{{this.num}}</button>
                       </div>`,
            created() {
                console.log('1');
                // eventBus.$on('eb', function(){
                //     this.num=value*4;
                //     console.log(this.num);
                    
                // })
                
                eventBus.$on('eb', (value) => {

                    this.num=value*4;
                    console.log(this.num);
                    
                })   //Step 3이벤트 예약, 뒤에는 람다식 써줘야함 아무튼 그럼               
            },
            data: function(){
                return {
                    num:100,
                }
            },
        })


        //step 1 : event 객체 생성
        let eventBus = new Vue();
        new Vue({
            el: '#App1',
        })
    </script>
    </body>
</html> -->
<!-- <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id='App'>
        <h1>{{num}}</h1>
    </div>
    <script>
            new Vue({
                el: '#App',
                created: function(){
                    console.log(1)
                    this.num = 10;
                    console.log(this.num)
                },
                data: ()=>{
                    return {
                        num: 0,
                    }
                },
                mounted: function(){
                    console.log(2)
                    this.num = 20;
                },
            })
    </script>
</body>
</html> -->

<!-- 

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div id='App'>
        <h1>{{num}}</h1>
        <ul>
            <li v-for="item in rd">{{item.id}}-{{item.name}}-{{item.username}}-{{item.phone}}</li>
        </ul> 
    </div>
    <script>
            new Vue({
                el: '#App',
                data: ()=>{
                    return {
                        num: 0,
                        list: ['232','232','232'],
                        rd: [],
                    }
                },
                //파일에서 데이터를 리딩할때 그 데이터를 갖고오는 목적으로 사용하는 것이 created:
                created: function(){
                    console.log(1)
                    this.num = 10;
                    console.log(this.num)
                    // this.num=this.num*3;
                    // this.num=프롭스*3 : 프롭스에 값이 들어오면 이렇게 할 수 있다.
                    
                    //문법확인하기 위한 코드
                    // let ar = [{a:10, b:20},{a:30, b:40},{a:50, b:60}]
                   
                    // console.log(ar);

                    // this.list=ar;

                    // console.log(this.list);
                    //서버측에 데이터주세요 하는게 ajax를 사용한? 엑시오스(axios)
                    axios.get('https://koreanjson.com/users')
                        .then( (response) => {
                            console.log(response);
                            console.log(response.data);
                            this.rd=response.data;
                            console.log(this.rd);
                            
                        })
                        .catch(function (error) {
                            console.log(error);
                        });

                    

                },
                
                mounted: function(){
                    console.log(2)
                    this.num = 20;
                },
            })
    </script>
</body>
</html>






 -->

<!--  
 <!DOCTYPE html>
<html lang="en">
  ​

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    ​
   
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Document</title></head
  >​

  <body>
    <div id="app">
      <ul>
        
        <li v-for="item in list">
          {{ item.id }} {{ item.name }} {{ item.email }}
        </li>
      </ul>
      <span>여러 줄을 가지는 메시지:</span>
      <p style="white-space: pre-line;">{{ message }}</p>
      <br />
      <textarea
        v-model="message"
        placeholder="여러줄을 입력해보세요"
      ></textarea>

      <input type="checkbox" id="checkbox" v-model="checked" />
      <label for="checkbox">{{ checked }}</label>
    </div>
    <div id="example-3">
      <input type="checkbox" id="jack" value="Jack" v-model="checkedNames" />
      <label for="jack">Jack</label>
      <input type="checkbox" id="john" value="John" v-model="checkedNames" />
      <label for="john">John</label>
      <input type="checkbox" id="mike" value="Mike" v-model="checkedNames" />
      <label for="mike">Mike</label>
      <br />
      <span>체크한 이름: {{ checkedNames }}</span>
    </div>
    <script>
      new Vue({
        el: "#app",
        data: {
          list: [],
        },
        created: function () {
          // axios.get('https://jsonplaceholder.typicode.com/users/')
          axios
            .get("http://my-json-server.typicode.com/kbu715/lion/banana")
            .then(
              function (response) {
                // 데이터를 읽어 들였다면 list에 할당하기
                // address company email id name phone username website
                this.list = response.data;
                console.log(this.list);
              }.bind(this)
            )
            .catch(function (e) {
              console.error(e);
            });
          console.log(this.list);
        },
      });
      new Vue({
        el: "#example-3",
        data: {
          checkedNames: [],
        },
      });
    </script>
  </body>


</html> -->
<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Document</title>
  </head>

  <body>
    <div id="App">
      <input v-model="limitAge" />개 이상<br />
      <input v-model="limitCount" />개 제한
      <ul>
        <li v-for="(item, index) in list">
          index:{{index}}, 이름:{{item.name}}, 나이:{{item.age}}
        </li>
        ---------------------------------
        <li v-for="(item, index) in f1()">
          index:{{index}}, 이름:{{item.name}}, 나이:{{item.age}}
        </li>
      </ul>
    </div>
    <script>
      new Vue({
        el: "#App",
        // data: () => {
        //   return {
        //     info: [
        //       { name: "호랑이", age: 10 },
        //       { name: "코끼리", age: 20 },
        //       { name: "돼지", age: 30 },
        //       { name: "독수리", age: 85 },
        //       { name: "토끼", age: 60 },
        //     ],
        //     limitAge: 50,
        //   };
        // },
        data: {
          list: [],
          info: [
            { name: "호랑이", age: 10 },
            { name: "코끼리", age: 20 },
            { name: "돼지", age: 30 },
            { name: "독수리", age: 85 },
            { name: "토끼", age: 60 },
          ],
          limitAge: 50,
          limitCount: 2,
        },
        methods: {
          f1: function () {
            let ar = this.list.filter(i => {
              return i.age >= this.limitAge;
            });
            let ar2 = ar.slice(0, this.limitCount);
            return ar2;
          },
        },
        created: function () {
          // axios.get('https://jsonplaceholder.typicode.com/users/')
          axios
            .get("http://my-json-server.typicode.com/kbu715/lion/banana")
            .then(
              function (response) {
                // 데이터를 읽어 들였다면 list에 할당하기
                // address company email id name phone username website
                this.list = response.data;
                console.log(this.list);
              }.bind(this)
            )
            .catch(function (e) {
              console.error(e);
            });
          console.log(this.list);
        },
      });
    </script>
  </body>
</html> -->

<!-- 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="App">
      <ul>
        <li v-for="(item, index) in ar">
          {{index}}, {{item.name}}{{item.age}}
        </li>
      </ul>
    </div>

    <script>
      new Vue({
        el: "#App",
        data: {
          num: 0,
          limitAge: 30,
          limitCount: 2,
          ar: [
            { name: "이순신", age: 30 },
            { name: "리순신", age: 20 },
            { name: "강순신", age: 88 },
            { name: "박순신", age: 63 },
            { name: "최순신", age: 13 },
          ],
        },
        methods: {
          f1: () => {},
        },
      });
    </script>
  </body>
</html> -->

<!-- 
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="App">
      <ul>
        <li v-for="item in br">{{item.name}} {{item.age}}</li>
      </ul>
      <ul>
        <Bpp
          v-for="item in br"
          v-bind:name="item.name"
          v-bind:age="item.age"
        ></Bpp>
      </ul>
    </div>
    <script>
      Vue.component("Bpp", {
        template: `<li>{{name}} {{age}}</li>`,
        props: ["name", "age"],
      });
      new Vue({
        el: "#App",
        data: () => {
          return {
            br: [
              { name: "개나리", age: 30 },
              { name: "시나몬", age: 20 },
              { name: "발꼬락", age: 50 },
              { name: "새우깡", age: 88 },
              { name: "끼리끼리", age: 68 },
            ],
          };
        },
        methods: {},
      });
    </script>
  </body>
</html> -->

<!-- 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="App">
      <button>{{a}}</button>
      <pre>{{$data}}</pre> 
      <input v-model="b" />
    </div>

    <script>
      new Vue({
        el: "#App",
        data: {
          a: "호랑이",
          b: "코끼리",
        },
        methods: {
          f1: () => {},
        },
      });
    </script>
  </body>
</html> -->

<!-- 
<pre></pre> 디버깅용 -->

<!-- 

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="App">
        <button v-on:click="f1">button1</button>
        <button v-on:click="f2">button2</button>
        <button v-on:click="f3">button3</button>
    </div>

    <script>
        new Vue({
            el: "#App",
            data: {
                a: "호랑이",
                b: "코끼리",
                num: 10,
            },
            methods: {
                f1: function () { console.log(this.num); },
                f2() { console.log(this.num); },
                f3: () => { console.log(this.num); },
            },
        });
    </script>
</body>

</html>





this.num 했을때 람다함수는 undefined가 출력된다. -->

<!-- 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
  </head>

  <body>
    <div id="App">
      <button>button1</button>
      <button v-if="state">button2</button>
      <button v-show="state">button3</button>
    </div>

    <script>
      new Vue({
        el: "#App",
        data: {
          state: false,
        },
        methods: {
          f1: function () {
            console.log(this.num);
          },
          f2() {
            console.log(this.num);
          },
          f3: () => {
            console.log(this.num);
          },
        },
      });
    </script>
  </body>
</html>



v-if 일때는 state값이 false이면 개발자 모드 elements 탭에서 <div></div> 안에
button태그가 사라지는데 v-show일때는 사자지지 않는다. -->
<!-- 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
    <style>
      .tiger {
        color: red;
      }
      .lion {
        font-size: 30px;
      }
      body {
        background-color: skyblue;
      }
    </style>
  </head>

  <body>
    <div id="App">
      <button class="tiger">button1</button><br />
      <button class="lion">button2</button><br />
      <button class="tiger lion">button3</button><br />
      <button v-bind:class="{tiger:true}">button4</button><br />
      <button class="tiger" v-bind:class="{lion:true}">button5</button><br />
    </div>

    <script>
      new Vue({
        el: "#App",
        data: {
          a: "호랑이",
          b: "코끼리",
          num: 10,
        },
        methods: {
          f1: function () {
            console.log(this.num);
          },
          f2() {
            console.log(this.num);
          },
          f3: () => {
            console.log(this.num);
          },
        },
      });
    </script>
  </body>
</html> -->

<!-- <button class="tiger" v-bind:class="{lion:true}">button5</button> -->
<!-- tiger 스타일만 포함시킬것이냐 lion도 할것이냐 -->

<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
    <style>
      .tiger {
        color: darkblue;
      }

      .lion {
        font-size: 30px;
      }

      body {
        background-color: skyblue;
      }
    </style>
  </head>

  <body>
    <div id="App">
      <ul>
        <li v-bind:class="{tiger:item.age>=30, lion:item.age>=40}" v-for="item in list">{{item}}<span v-if="item.age>=35">나이많음</span></li>
        
      </ul>
   </div>

    <script>
      new Vue({
        el: "#App",
        data: {
          list: [
            { name: "호랑이", age: 20 },
            { name: "침팬지", age: 30 },
            { name: "독수리", age: 40 },
          ],
        },
        methods: {
          f1: function () {
            console.log(this.num);
          },
          f2() {
            console.log(this.num);
          },
          f3: () => {
            console.log(this.num);
          },
        },
      });
    </script>
  </body>
</html> -->

<!-- 

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
    <style>
      .tiger {
        color: darkblue;
      }

      .lion {
        font-size: 30px;
      }

      body {
        background-color: skyblue;
      }
    </style>
  </head>

  <body>
    <div id="App">
      <input v-model="aa" />
      <button v-on:click="f1()">추가</button>
      <ul>
        <li
          v-bind:class="{tiger:item.age>=30, lion:item.age>=40}"
          v-for="item in list"
        >
          {{item.name}}<span v-if="item.age>=35">나이많음</span>
        </li>
      </ul>
    </div>

    <script>
      new Vue({
        el: "#App",
        data: {
          aa: "앵무새",
          list: [
            { name: "호랑이", age: 20 },
            { name: "침팬지", age: 30 },
            { name: "독수리", age: 40 },
          ],
        },
        methods: {
          f1: function () {
            this.list.push({ name: this.aa, age: 40 });
          },
        },
      });
    </script>
  </body>
</html> -->

<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
    <style>
      .tiger {
        color: red;
      }

      .lion {
        font-size: 30px;
      }
    </style>
  </head>

  <body>
    <div id="App">
      <input v-model="parrot.name" />
      <button v-on:click="f1()">추가</button>
      <ul>
        <li v-for="(item,index) in list" v-bind:class="{tiger: item.age > 35, lion: item.age < 15}">
          {{item.name}} {{item.age}}
          <button v-on:click="f2(item,index)">
            벤자민
          </button>
          <span v-if="item.age > 35">나이많다</span>
          <span v-if="item.age < 20">어리다</span>
        </li>
      </ul>
    </div>
    <script>
      new Vue({
        el: "#App",
        data: {
          list: [
            { name: "호랑이", age: 20 },
            { name: "코끼리", age: 30 },
            { name: "사자", age: 40 },
          ],
          parrot: { name: "앵무새", age: 50 },
        },
        methods: {
          f1: function () {
            this.list.push(this.parrot);
          },
          f2: function (item, index) {
            item.age -= 5;
            if (item.age <= 0) {
              this.list.splice(index, 1); //index로부터 1개 삭제
            }
          },
        },
      });
    </script>
  </body>
</html> -->

<!-- 
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
    <style>
      .tiger {
        color: red;
      }

      .lion {
        font-size: 30px;
      }
    </style>
  </head>

  <body>
    <div id="App">
      <button ref="tiger">button1</button>
      <button v-on:click="f1">button2</button>
    </div>
    <script>
      new Vue({
        el: "#App",
        data: {},
        methods: {
          f1: function () {
            let btn = this.$refs.tiger;
            btn.style.color = "red";
            btn.innerText = "호랑이";
            btn.style.background = "blue";
          },
        },
      });
    </script>
  </body>
</html>






ref="tiger" // 나를 다른곳에서 쓰려고 하면 tiger를 써라. -->
<!-- 
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
  </head>

  <body>
    <div id="App">
      <button v-on:click="count++">{{count}}</button>
    </div>
    <script>
      new Vue({
        el: "#App",
        data() {
          return {
            count: 0,
          };
        },

        watch: {
          count: {
            handler: function () {
              //count변수가 갱신될때 실행되는 함수
              console.log("hello world!");
            },
            immediate: true,
          },
        },
        methods: {},
      });
    </script>
  </body>
</html> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="App">
      <Bpp v-bind:num="130"></Bpp>
    </div>

    <script>
      Vue.component("Bpp", {
        template: `<button v-on:click="count++">{{count}}</button>`,
        props: ["num"],
        data() {
          return {
            count: this.num,
          };
        },
        watch: {
          //항상지켜봐라
          count: {
            handler: function () {
              console.log(this.count);
            },
            immediate: false,
          },
        },
      });
      new Vue({
        el: "#App",
      });
    </script>
  </body>
</html>

app에서 bpp로 데이터 값 넘겨줘서 bpp에서 그 데이터로 카운팅
