<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <div id='App'>
            
        </div>
        <script>
            new Vue({
                el:'#App', //element
                data:{
                    msg:'호랭이',
                },
                template:'<h1>{{msg}}</h1>', //디자인쪽
            })
        </script>
    </body>
</html> -->



<!-- 
<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body>
        <div id='App'>
            <button v-on:click='num++'>{{num}}</button>
        </div>
        <script>
            new Vue({
                el:'#App', //element
                data:{
                    num:0,
                },
            })
        </script>
    </body>
</html> -->

<!-- 

<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body>
        <div id='App'>
            v-on : 우리말로는 지시어 영어로는 디렉티브 
            <button v-on:click=f1()>{{num}}</button>
            <button v-on:click=f2()>{{num}}</button>
            <button>{{f3()}}</button>
        </div>
        <script>
            new Vue({
                el:'#App', //element
                data:{
                    num:0,
                },
                methods:{
                    f1:function(){ console.log(1); },
                    f2:()=>{ console.log(2); },
                    f3:()=>{ return '고양이' },
                },
            })
        </script>
    </body>
</html> -->




<!-- 
<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <div id="App1">
        <h1 v-if='flag2'>dd</h1>
            <h1>tt</h1> 

         <ul>
                <li v-for='xxx in items'>{{xxx}}</li>
            </ul> 
        <h1>ㅎㅎ</h1>
        <tiger></tiger>
        <lion></lion>
    </div>
     <div id='App2'>

        </div> 
    <script>
        new Vue({
            el: "#App1", //el: 예약된 키워드
            // data:{
            //     // flag1:false,
            //     // flag2:true,
            //     items:['호랭이','사자','독수리']
            // },
            // methods:{

            // },
            components: {
                tiger: {
                    template: '<h1>tiger컴포넌트</h1>'
                },       //tiger:컴포넌트이름
                lion: {
                    template: '<h1>lion컴포넌트</h1>'
                },
            },
        })
            //Vue 인스턴스를 1개이상 생성해서 사용할 수 있다.
            // new Vue({
            //     el:"#App2",
            // })
    </script>
</body>

</html> -->

<!-- 
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>    
</head>
<body>
<div id="App1">
    <h1>코끼리</h1>
    <tiger></tiger>
    <lion></lion>
</div>
    <script>
        new Vue({
            el: '#App1',
            components: {//Vue 인스턴스 안에서 정의를 하고 있기 때문에 이것은 내부 컴포넌트라고 한다. 지역컴포넌트
                tiger: {
                    template: '<h1>호랑이</h1>',
                },
                lion: {
                    template: ` // `:키보드에서 숫자 1 왼쪽
                    <div>
                    <h1>독수리</h1>
                    <h1>사자</h1>
                    </div>`,
                },
            },
        })
    </script>
</body>
</html> -->



<!-- 
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="App1">
        <tiger></tiger>
        <lion></lion>
    </div>
    <script>
        //전역컴포넌트는 코드의 순서에 영향을 받는다.
        //첫번째 인수는 컴포넌트 name
        Vue.component('tiger',{
            template:'<h1>타이거</h1>',
        })
        Vue.component('lion',{
            template:'<h1>라이언</h1>',
        })
        new Vue({
            el: '#App1',

        })
    </script>
</body>

</html> -->





<!-- 

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="App1">
        <outter></outter>
        <tiger></tiger>

    </div>
    <div id="App2">
        <outter></outter>
        
    </div>
    <script>
        //전역컴포넌트는 코드의 순서에 영향을 받는다.
        //첫번째 인수는 컴포넌트 name
        Vue.component('outter', {
            template: '<h1>타이거</h1>',
        })

        new Vue({
            el: '#App1',
            componets: {
                tiger: {
                    template: '<h1>호랑이</h1>',
                },
            },
        });
        new Vue({
            el: '#App2',
        })
    </script>
</body>

</html> -->









<!-- 


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <title></title>
    </head>
    <body>
        <div id="App1">
            <h1>tiger</h1>
            <tiger></tiger>
            <lion></lion>
        </div>
        <div id="App2">
            <h1>tiger</h1>
            <tiger></tiger>
            <lion></lion> 사용불가
        </div>
        <script>
            Vue.component('tiger', {
                template : '<h1>호랑이</h1>'
            });
            new Vue({ 
                el : '#App1',
                components : {
                    lion : {
                        template : '<h1>사자</h1>'
                    },
                },
            });
            new Vue({
                el : '#App2',
            });
        </script>
    </body>
</html> -->













<!-- 
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>    
</head>
<body>
<div id="App1">
    <h1>코끼리</h1>
    <tiger></tiger>    
</div>
    <script>
       Vue.component(
           'tiger', {
            template: `<h1>호랑이</h1>`,
            data:function(){ //Vue의 문법 data 설정할때는 function으로 정의한다.(전역컴포넌트일때?)
                return {
                    num:10
                }
            },
            methods:{
                f1: function(){
                    console.log('f1');
                    this.num++
                    //람다로 만들면 안됀다.
                },
            },     
            template:'<button @click=f1>{{num}}</button>',        //v-on: 이거랑 @이랑 치환됌
        })
        new Vue({
            el: '#App1',          
        })       
    </script>
</body>
</html> -->


<!-- 
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>    
</head>
<body>
<div id="App1">
    <input v-model=msg>
    <h1>{{msg}}</h1>
</div>
    <script>
      
        new Vue({
            el: '#App1',          
            data: {
                msg:'냉면먹고싶다'
            },
        })       
    </script>
</body>
</html> -->






<!-- 

<!DOCTYPE html><html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="App">
        <tiger></tiger>
        <lion></lion>
    </div>
    <script>
        Vue.component('tiger', {
            data: function () {
                return {
                    num: 0
                }
            },
            methods: {
                f1: function () {
                    // console.log(1)
                    this.num++
                },

                //람다를 쓰면 안됀다.
                // f1:()=>{
                //     this.num++
                // }
            },
            template: '<button @click=f1>{{num}}</button>',

        })

    new Vue({
        el: '#App',
        components: {
            lion: {
                template: '<button @click=f1>{{num}}</button>',
                methods: {
                    f1: function () {
                        // console.log(1)
                        this.num++
                    },

                    //람다를 쓰면 안됀다.
                    // f1:()=>{
                    //     this.num++
                    // }
                },
                data: function () {
                        return {
                            num: 0
                        }
                    },

            }
        },

    })
    </script>
</body>
    
</html> -->










<!-- 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="App">
        <tiger :dname=sname :dage=sage></tiger> 
    </div>
    <script>
        
        Vue.component("tiger",{
            template:'<div><h1>{{dname}},{{dage}}</h1><button v-on:click=f1>버튼</button></div>',
            // props:{
            //     name:String,
            //     age:Number,
            // },
            props: ['dname', 'dage'],
            methods: {
                f1: function(){
                    console.log(typeof(this.dage));                    
                }
            }            
        });
        new Vue( {
            el: '#App',
            data:{
                sname:'eee',
                sage: 30,   //s -> source

            },
        });
    </script>
  </body>

</html>

v-bind쓰면 typeof썼을때 숫자가 문자열에서 숫자로 나온다.
v-bind: :으로 치환 할 수있다.
 -->


















<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="App">
        <tiger v-bind:name=name v-bind:age=age></tiger> //v-bind 
    </div>
    <script>
        Vue.component("tiger",{
            template:'<div><h1>{{name}},{{age}}</h1><button v-on:click=f1>버튼</button></div>',
            // props:{
            //     name:String,
            //     age:Number,
            // },
            props: ['name', 'age'],
            methods: {
                f1: function(){
                    console.log(typeof(this.age));                    
                }
            }            
        });
        new Vue( {
            el: '#App',
            data:{
                name:'eee',
                age: 30,   //s -> source

            },
        });
    </script>
  </body>

</html> -->






<!-- 

왜안돼 ㅠㅠ
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="App">
        <h1>{{f1()}}</h1>
        <h1>{{count1}}</h1>
        <button v-on:click='count1++'>button</button>
        <h1>{{f2}}</h1>
        <h1>{{count2}}</h1>
        <button v-on:click='count2++'>button</button>
        
    </div>
    <script>
       
        new Vue( {
            el: '#App',
            data:{
                count1:0,
                count2:0,
            
            },
            methods: {
                f1 : ()=>{
                    console.log(this.count1);
                
                },
                
            },
            computed: { //computed 안에있는 함수는 호출할때 f2() 라고 안한다 f2만 써도 된다.
                f2 : ()=>{
                    console.log(this.count1);
                    
                }
            },
           
        });
    </script>
  </body>

</html> -->





<!-- 

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
<div id="App">        
    <button v-on:click="count1++">Count</button>
    <h1>{{f1()}}</h1>
    <h1>{{count1}}</h1>
    <button v-on:click="count2++">Count</button>
    <h1>{{f2}}</h1>
    <h1>{{count2}}</h1>
</div>
    <script>
        new Vue({
            el: "#App",
            data: {
                count1: 0,
                count2: 0,
            },
            methods:{
                f1: function(){
                    console.log(this.count1);
                },
            },
            computed:{
                f2: function(){
                    console.log(this.count1)
                },
            },
        })
    </script>
    </body>
    </html> -->




<!-- 
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="App">
        <com1 v-on:showmethemoney='f2'></com1> 
    </div>
    <script>
        //내가 만든 이벤트 showmethmoney가 발생하면 f2함수를 콜해라..
        new Vue({
            el: "#App",
            components: {
                com1: {
                    template: `<button v-on:click='f1'>button</button>`,
                    methods: {
                        f1:function(){
                            console.log('f1 call');
                            this.$emit('showmethemoney'); //강제로 이벤트호출
                        }
                    },
                }

            },

            methods: {
                f2: function () {
                    console.log('f2 call');
                },
            },

        })
    </script>
</body>

</html> -->
















<!-- 


<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="App">
        <Bpp></Bpp>
    </div>
  

    <script>
       
        Vue.component('Bpp',{
            template: `<div>
                       <button>Bpp</button>
                       <Cpp></Cpp>
                       <Dpp></Dpp>
                       </div>`

        })
        Vue.component('Cpp',{
            template: ` <div>
                        <button>Cpp</button>
                        </div>`

        })
        Vue.component('Dpp',{
            template: ` <div>
                        <button>Dpp</button>
                        </div>`

        })
        new Vue({
            el: "#App",
            
        })

    </script>
</body>

</html>  -->



<!-- 왜 안돼 ㅇ나ㅣㅓ리ㅏㄴㅇ멀;

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="App">
        <com1></com1>
        <com2></com2>

    </div>


    <script>


        //step 1 : 이벤트 객체 생성
        //step 2 : created 로그 출력 확인

        let eventBus = new Vue();

        Vue.component('com1', {
            template: `<button @click=f1>button1</button>`,
            methods: {
                f1:function(){
                    eventBus.$emit('eb')
                    
                }
            },

        })
        Vue.component('com2', {
            template: `<button>button2</button>`,
            created: function () {
                console.log(1);
                eventBus.$on('eb',100, (value)=>{ console.log(value) }) //이벤트를 예약하는거
            }
        })

        new Vue({
            el: "#App",


        })



    </script>
</body>

</html> -->







<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title >Document</title>
</head>
<body>
    <div id= 'App1'>
        <Com1></Com1>
        <Com2></Com2>
    </div>
    <script>      
       Vue.component('Com1', {
            template: `<div>
                       <button @click=f1>{{this.num}}</button>
                       </div>`,
            methods: {
                f1: function () {
                    console.log('f1 call');
                    eventBus.$emit('eb',this.num)
                }
            },
            data: function(){
                return {
                    num:100,
                }
            },
        })


        //step 2 : log 출력하기
        Vue.component('Com2', {
            template: `<div>
                       <button>{{this.num}}</button>
                       </div>`,
            created() {
                console.log('1');
                // eventBus.$on('eb', function(){
                //     this.num=value*4;
                //     console.log(this.num);
                    
                // })
                
                eventBus.$on('eb', (value) => {

                    this.num=value*4;
                    console.log(this.num);
                    
                })   //Step 3이벤트 예약, 뒤에는 람다식 써줘야함 아무튼 그럼               
            },
            data: function(){
                return {
                    num:100,
                }
            },
        })


        //step 1 : event 객체 생성
        let eventBus = new Vue();
        new Vue({
            el: '#App1',
        })
    </script>
    </body>
</html>